Hey PRs!

<ul>
<% prs.each do |pr|%>
  <li>
    <%= "#{pr[:title]}"  %>
    <form action="<%= "/powerhome/ninja-seal/#{pr[:sha]}/status" %>" method="POST">
      <input type="hidden" name="status" value="success" />
      <input type="submit" value="Accept" />
    </form>
  </li>
<% end %>
</ul>
