Hey PRs!

<form method="POST">
  <ul>
  <% prs.each do |pr|%>
    <li>
      <%= "#{pr[:title]}"  %>
        <button type="submit"
          formaction="<%= "/powerhome/ninja-seal/#{pr[:sha]}/status" %>"
          name="status"
          value="success">Accept</button>
        <button type="submit"
          formaction="<%= "/powerhome/ninja-seal/#{pr[:sha]}/status" %>"
          name="status"
          value="failure">Reject</button>
    </li>
  <% end %>
  </ul>
</form>
