<form method="POST">
  <% projects.each do |project, stories| %>
    <%= project %>
    <ul>
      <% stories.each do |story| %>
      <li>
        <%= story.name %>
        <button type="submit"
          formaction="<%= "/stories/#{story.id}/status" %>"
          name="status"
          value="success">Accept</button>
        <button type="submit"
          formaction="<%= "/stories/#{story.id}/status" %>"
          name="status"
          value="failure">Reject</button>
      </li>
      <% end %>
    </ul>
  <% end %>
</form>
