
<form method="POST">
  <ul>
  <% stories.each do |story|%>
    <li>
      <%= "#{story[:title]}"  %>
        <button type="submit"
          formaction="<%= "/stories/#{story[:id]}/status" %>"
          name="status"
          value="success">Accept</button>
        <button type="submit"
          formaction="<%= "/stories/#{story[:id]}/status" %>"
          name="status"
          value="failure">Reject</button>
    </li>
  <% end %>
  </ul>
</form>
